In [1]:
8+4

12

In [2]:
(50 - 5*6) / 4

5.0

In [4]:
#lets begin
greeting = "Hello World of Python"
print(greeting)

Hello World of Python

In [10]:
print(8 / 5)

1.6

In [11]:
17 % 3

2

In [12]:
17 // 3

5

In [54]:
#finding the cube
(2**3)

8

In [14]:
width = 20
height = 5 * 9
print("The value of width=",width)

The value of width= 20

In [15]:
print('The value of width is=", width)    #use of single quotes

SyntaxError: EOL while scanning string literal (2824665502.py, line 1)

In [17]:
print("Value=",width*height)

Value= 900

In [18]:
print("the height=",height)

the height= 45

In [21]:
# String concatenation
"The "+"Sun"
"The "+"Moon"
"Planets"+" Universe"

string1 = "Elon"

string2 = "Musk"
magic_string = string1 + string2

magic_string

'ElonMusk'

In [28]:
first_name="ram"
last_name="menon"
name=first_name+" "+last_name
print(name)

ram menon

In [31]:
user_input=input("enyter ur  name ")
print("You said: " + user_input)

enyter ur  name rahul
You said: rahul

In [32]:
num = input("Enter a number to be doubled: ")

doubled_num = float(num)*2

print(doubled_num)

Enter a number to be doubled: 8
16.0

In [36]:
ip1=float(input("enter 1 no"))
ip2=float(input("enter 2 no"))
print("prod=", (ip1*ip2))

enter 1 no2
enter 2 no4
prod= 8.0

In [37]:
# Find length
str1="how is it"
print("length of string=",len(str1))

length of string= 9

In [42]:
#list
squares = [1, 4, 9, 16, 25]
squares[0]

1

In [39]:
squares[-2]

16

In [40]:
#getting entire datas
squares[:]

[1, 4, 9, 16, 25]

In [44]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [46]:
num=squares + [36, 49, 64, 81, 100]
print(num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
#adding dat at the last position
squares.append(14)
squares

[1, 4, 9, 16, 25, 4, 4, 14]

In [57]:
# adding the cube of 7
squares.append(7**3)
squares

[1, 4, 9, 16, 25, 4, 4, 14, 343]

In [60]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count("apple")

2

In [61]:
#loc the initialindex position of element in list
fruits.index('banana')

3

In [65]:
# Find next "banana" from starting index 4
fruits.index('banana', 4)

6

In [70]:
#reverse fn
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [81]:
#using sorts
fruits.append('grape')
fruits
fruits.sort()
print(fruits)

['apple', 'apple', 'banana', 'banana', 'grape', 'grape', 'grape', 'grape', 'grape', 'kiwi']

In [82]:
#pop-to eliminate the lat element from list
fruits.pop()
fruits

['apple',
 'apple',
 'banana',
 'banana',
 'grape',
 'grape',
 'grape',
 'grape',
 'grape']

In [84]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
list1

[500, 400, 300, 200, 100]

In [93]:
#dictionary
my_dict = {'username': "XYZ", "email": "xyz@gmail.com", "location":"Mumbai"}
my_dict["country"]="nice"
my_dict

{'username': 'XYZ',
 'email': 'xyz@gmail.com',
 'location': 'Mumbai',
 'country': 'nice'}

In [94]:
#to delete the key of location from dict
del my_dict['location']
my_dict

{'username': 'XYZ', 'email': 'xyz@gmail.com', 'country': 'nice'}

In [95]:
#String finctions in python
name = "Tesla"
name.lower()

'tesla'

In [97]:
#capitalise
name.upper()

'TESLA'

In [99]:
name.capitalize()

'Tesla'

In [100]:
#to check if it is alphabet or not
name.isalpha()

True

In [105]:
starship = "Enterprise"
starship.startswith("n")

True

In [103]:
starship.endswith("rise")

True

In [106]:
#replace part of the srting   "welcome" with "GoodBye"
string = "Welcome Sir "
print(string.replace("Welcome","GoodBye"))

GoodBye Sir

In [107]:
txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

I like apples

In [110]:
#to find the starting index nocof the finding string
phrase = "the surprise is in here somewhere"
phrase.find("prise")

7

In [111]:
text = "Hello World DataTrained"
print(text.split())
text

['Hello', 'World', 'DataTrained']

'Hello World DataTrained'

In [2]:
text = "HelloWorld,DataTrained"
print(text.split(","))

['HelloWorld', 'DataTrained']

In [3]:
# Splits at ':'

text = "Hello,World:DataTrained"
print(text.split(":"))

['Hello,World', 'DataTrained']

In [4]:
how=["Animals", "Badger", "Honey Bee", "Honey Badger"]
how.lower()
how

AttributeError: 'list' object has no attribute 'lower'

In [121]:
string1 = "Becomes"

string2 = "becomes"

string3 = "BEAR"

string4 = " bEautiful"
print(string1.startswith("be"))

False

In [122]:
print(string2.startswith("be"))

True

In [127]:
x=string1.lower()
print(x,string1)

becomes Becomes

In [142]:
# Write a program that takes input from the user and displays the
#input in lowercase.

Z=input("input a string")
print(Z.lower())

input a stringHOW
how