# Assignment 2 - WEB SCRAPING USING SELENIUM¶

In [1]:
#importing libraries

import selenium
import pandas as pd
import time
from selenium.webdriver.common.by import By


import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option("display.max_rows", 100)

#importing the selenium webdriver
from selenium import webdriver

#Activating chrome browser
driver=webdriver.Chrome("Chromedriver.exe")

#lets Automate the searchbar
driver.maximize_window()

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
#operating the homepage of naukari
driver.get('https://www.naukri.com/')

In [4]:
#Automate search
#locating designation search bar
designation_search=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation_search.send_keys("Data Analyst")

In [5]:
#finding location webelement for search bar using absolutepath
location_search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location_search.send_keys("Bangalore")

In [6]:
#clicking using absolute xpath 

search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

# Extracting job titles

In [7]:
#scraping job titles
job_titles=[]
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [8]:
#filtering 10 results
job_titles=job_titles[0:10]
job_titles

['Senior Data Analyst - PLM Data Migration',
 'Data Analyst',
 'Senior Data Analyst',
 'Clinical Data Analyst',
 'Associate Healthcare Research & Data Analyst',
 'Lead Data Analyst',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Master Data Management Business Analyst',
 'Data Analyst',
 'Data Analyst']

# Extracting job location

In [9]:
#scraping job location
job_location=[]
location_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for i in location_tags:
    job_location.append(i.text)
len(job_location)

20

In [10]:
#filtering 10 results
job_location=job_location[0:10]
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

# Extracting company_name

In [11]:
#scraping company name
company_name=[]
company_tags=driver.find_elements(By.XPATH,"//div[@class='mt-7 companyInfo subheading lh16']")

for i in company_tags:
    company_name.append(i.text.split("\n")[0] )
len(company_name)

20

In [12]:
#filtering 10 results
company_name=company_name[0:10]
company_name

['CGI',
 'IBM',
 'Groundtruth',
 'Mettox Laboratries',
 'Clarivate',
 'Mobile Premier League (MPL)',
 'TeamLease',
 'Accenture',
 'Elasticsearch',
 'Bsharp']

# Extracting experience

In [13]:
#scraping experience

experience=[]
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

for i in experience_tags:
    experience.append(i.text)
len(experience)

20

In [14]:
#filtering 10 results
experience=experience[0:10]
experience

['3-6 Yrs',
 '3-4 Yrs',
 '5-8 Yrs',
 '2-6 Yrs',
 '3-4 Yrs',
 '4-7 Yrs',
 '5-8 Yrs',
 '6-8 Yrs',
 '2-5 Yrs',
 '1-3 Yrs']

In [15]:
#checking length
print(len(job_titles),len(job_location),len(company_name),len(experience))

10 10 10 10

In [16]:
#creating datasets
jobs_naukari=pd.DataFrame({
                            "job_titles":job_titles,
                           "job_location":job_location,
                           "company_name":company_name,
                           "experience":experience
                          })

In [17]:
#printing dataset
jobs_naukari

,job_titles,job_location,company_name,experience
0,Senior Data Analyst - PLM Data Migration,Bangalore/Bengaluru,CGI,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,IBM,3-4 Yrs
2,Senior Data Analyst,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram",Groundtruth,5-8 Yrs
3,Clinical Data Analyst,Bangalore/Bengaluru,Mettox Laboratries,2-6 Yrs
4,Associate Healthcare Research & Data Analyst,Bangalore/Bengaluru,Clarivate,3-4 Yrs
5,Lead Data Analyst,Bangalore/Bengaluru,Mobile Premier League (MPL),4-7 Yrs
6,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
7,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
8,Data Analyst,Bangalore/Bengaluru,Elasticsearch,2-5 Yrs
9,Data Analyst,Bangalore/Bengaluru,Bsharp,1-3 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [18]:
#operating the homepage of naukari
url= "https://www.naukri.com/"
driver.get(url)

In [19]:
#locating designation search bar

designation_search=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation_search.send_keys("Data Scientist")

In [20]:
#finding location in search bar using absolutepath

location_search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location_search.send_keys("Bangalore")

In [21]:
#clicking using absolute xpath 

search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search_btn.click()

# Extracting Data Scientist job

In [22]:
#scraping job titles
job_titles=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [23]:
#filtering 10 results

job_titles=job_titles[0:10]
job_titles

['Analystics & Modeling Specialist',
 'Senior Data Scientist',
 'Assistant Manager - Data Science',
 'Data Scientist',
 'Program Manager, Analytics',
 'Data Scientist',
 'ACN - Applied Intelligence - Data Scientist - 09',
 'Data Scientist - 2',
 'Data Scientist - Looking For Immediate Joiners',
 'Senior Data Scientist']

In [24]:
#scraping job-location
job_location=[]
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tags:
    job_location.append(i.text)
len(job_location)

20

In [25]:
job_location=job_location[0:10]
job_location

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru, Mumbai, New Delhi, Chennai']

In [26]:
#scraping company_name
company_name=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_name.append(i.text)
len(company_name)

20

In [27]:
#filtering company_name
company_name=company_name[0:10]
company_name

['Accenture',
 'Wipro',
 'Citiustech',
 'Altair',
 'Uber',
 'Quest Global',
 'Accenture',
 '24 7 ai',
 'Wipro',
 'Boston Consulting Group']

In [28]:
#printing length
print(len(job_titles),len(job_location),len(company_name))

10 10 10

In [29]:
#creating datasets
jobs_naukari=pd.DataFrame({
                            "job-titles":job_titles,
                           "job-location":job_location,
                           "company-name":company_name
                          })
jobs_naukari

,job-titles,job-location,company-name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Senior Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Chennai",Wipro
2,Assistant Manager - Data Science,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune",Citiustech
3,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Altair
4,"Program Manager, Analytics",Bangalore/Bengaluru,Uber
5,Data Scientist,Bangalore/Bengaluru,Quest Global
6,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
7,Data Scientist - 2,Bangalore/Bengaluru,24 7 ai
8,Data Scientist - Looking For Immediate Joiners,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Wipro
9,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [30]:
#operating the homepage of naukari
url="https://www.naukri.com/"
driver.get(url)

In [31]:
#designation_search
designation_search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
designation_search.send_keys("Data Scientist")

In [32]:
#clicking the search button
search_btn=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search_btn.click()

In [34]:
#Applying location filter 

location_filter=driver.find_element(By.XPATH,'//*[@id="root"]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
location_filter.click()

In [35]:
#Applying salary filter

salary_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
salary_filter.click()

In [36]:
#scraping job titles
job_titles=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Urgent hiring For Data Scientist (PHD Must Have)',
 'Manager - Data Science - Banking&Financial Services - IIM/ISB/MDI/FMS',
 'Data Scientist / Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Specialist',
 'Data scientist- Python',
 'Data Scientist',
 'Senior Data Scientist - Python (f/m/x)']

In [37]:
job_titles=job_titles[0:10]
job_titles

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Urgent hiring For Data Scientist (PHD Must Have)',
 'Manager - Data Science - Banking&Financial Services - IIM/ISB/MDI/FMS',
 'Data Scientist / Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Specialist',
 'Data scientist- Python']

In [38]:
#scraping job location
job_location=[]
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tag:
    job_location.append(i.text)
len(job_location)

12

In [39]:
job_location=job_location[0:10]
job_location

['Noida, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Temp. WFH - Noida, Pune',
 'Delhi / NCR, Bangalore/Bengaluru',
 'Temp. WFH - Noida',
 'Dehradun, Hyderabad/Secunderabad, Gurgaon/Gurugram',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon/Gurugram']

In [40]:
#scraping company_name

company_name=[]
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag:
    company_name.append(i.text)

In [41]:
company_name=company_name[0:10]
company_name

['HCLTech',
 'Boston Consulting Group',
 'NGI Ventures',
 'Black Turtle',
 'Wegarner Solutions',
 'torcai digital media',
 'Meon Technologies',
 'Alliance Recruitment Agency',
 'RCPC',
 'TeamPlus Staffing Solution Pvt Ltd']

In [42]:
#scraping experiance required
experiance_req=[]
experiance_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in experiance_tag:
    experiance_req.append(i.text)

In [43]:
experiance_req=experiance_req[0:10]
experiance_req

['4-9 Yrs',
 '2-5 Yrs',
 '0-4 Yrs',
 '4-8 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '3-4 Yrs',
 '4-6 Yrs',
 '3-6 Yrs']

In [44]:
print(len(job_titles),len(job_location),len(company_name),len(experiance_req))

10 10 10 10

In [45]:
#Creating Dataset
jobs_naukari=pd.DataFrame({
                            "job-itles":job_titles,
                           "job-location":job_location,
                           "company-name":company_name,
                           "experiance-required":experiance_req
                            
                            })
#printing the dataset
jobs_naukari

,job-itles,job-location,company-name,experiance-required
0,Data Scientist,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",HCLTech,4-9 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Urgent hiring For Data Scientist (PHD Must Have),"Temp. WFH - Noida, Pune",NGI Ventures,0-4 Yrs
3,Manager - Data Science - Banking&Financial Ser...,"Delhi / NCR, Bangalore/Bengaluru",Black Turtle,4-8 Yrs
4,Data Scientist / Sr. Data Scientist,Temp. WFH - Noida,Wegarner Solutions,3-8 Yrs
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,Data Scientist,Noida,Meon Technologies,2-5 Yrs
7,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
8,Data Specialist,Noida,RCPC,4-6 Yrs
9,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
ASSIGNMENT 2
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [87]:
pd.set_option("display.max_rows", 100)

#importing the selenium webdriver
from selenium import webdriver

#Activating chrome browser
driver=webdriver.Chrome("Chromedriver.exe")

#lets Automate the searchbar
driver.maximize_window()

In [88]:
#operating flipkart website
#Automate search
url="https://www.flipkart.com/"
driver.get(url)

In [89]:
#removing login popup
product_search=driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]')
product_search.click()

In [90]:
#Entering “sunglasses” in the search field 
product_search=driver.find_element(By.CLASS_NAME,"_3704LK")
product_search.send_keys("sunglasses")

In [91]:
#clicking the search button
search_btn=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn.click()

In [92]:
Brand=[]
Product_Description=[]
Price=[]
Disc=[]

In [93]:

#scrapping data from first page
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    Brand.append(i.text.replace("\n",''))
for i in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    Product_Description.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    Price.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
    Disc.append(i.text)

In [94]:
Brand

['CRYSTAL CART',
 'Abreena',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'New Specs',
 'Abreena',
 'SUNBEE',
 'Fastrack',
 'Abreena',
 'Abreena',
 'Sewell',
 'Fastrack',
 'VINCENT CHASE',
 'PIRASO',
 'Abreena',
 'Abreena',
 'SHAAH COLLECTIONS',
 'GANSTA',
 'Abreena',
 'Abreena',
 'Elligator',
 'SRPM',
 'PIRASO',
 'Elligator',
 'Abreena',
 'Abreena',
 'DEIXELS',
 'Fastrack',
 'CRYSTAL CART',
 'Singco India',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'LOUIS KOUROS',
 'ROZZETTA CRAFT',
 'SRPM',
 'VINCENT CHASE']

In [95]:
Product_Description

['Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (Free ...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection, Riding Glasses, Mirrored Aviator Sunglas...',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...']

In [96]:
Price

['₹209',
 '₹149',
 '₹649',
 '₹519',
 '₹199',
 '₹579',
 '₹254',
 '₹199',
 '₹283',
 '₹629',
 '₹129',
 '₹176',
 '₹265',
 '₹649',
 '₹649',
 '₹251',
 '₹169',
 '₹169',
 '₹185',
 '₹296',
 '₹149',
 '₹147',
 '₹176',
 '₹199',
 '₹251',
 '₹197',
 '₹162',
 '₹155',
 '₹236',
 '₹679',
 '₹209',
 '₹575',
 '₹519',
 '₹939',
 '₹209',
 '₹474',
 '₹1,499',
 '₹616',
 '₹149',
 '₹949']

In [80]:
Disc

['65% off',
 '63% off',
 '35% off',
 '35% off',
 '87% off',
 '35% off',
 '90% off',
 '87% off',
 '78% off',
 '30% off',
 '81% off',
 '80% off',
 '82% off',
 '27% off',
 '84% off',
 '67% off',
 '78% off',
 '78% off',
 '89% off',
 '83% off',
 '69% off',
 '72% off',
 '82% off',
 '87% off',
 '80% off',
 '84% off',
 '83% off',
 '76% off',
 '85% off',
 '76% off',
 '80% off',
 '87% off',
 '35% off',
 '24% off',
 '60% off',
 '27% off',
 '69% off',
 '78% off',
 '86% off',
 '88% off']

In [97]:
#we need to scrap more data, let's move to second page
#clicking on next_button
nex_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
nex_btn.click()

In [98]:
#scrapping data from second page
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    Brand.append(i.text)
for i in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    Product_Description.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    Price.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
    Disc.append(i.text)

In [99]:
#we need to scrap more data, let's move to Third page
#clicking on next_button
next_btn=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_btn.click()

In [100]:
#scrapping data from Third page
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    Brand.append(i.text)
for i in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    Product_Description.append(i.text.replace("\n",''))
for i in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    Price.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
    Disc.append(i.text)

In [103]:
#filtering to 100 sunglasses listings
Brand=Brand[:100]
Product_Description=Product_Description[:100]
Price=Price[:100]
Disc=Disc[:100]

In [104]:
print(len(Brand),len(Product_Description),len(Price),len(Disc))

100 100 100 100

In [105]:
#Creating Dataset

flipkart_sunglass=pd.DataFrame({"Brand-Name":Brand,
                                "Product_Description":Product_Description,
                                "Price":Price,
                                "Discount":Disc
                                
                                })
#printing the dataset
flipkart_sunglass

,Brand-Name,Product_Description,Price,Discount
0,CRYSTAL CART,"Mirrored, Night Vision Oval Sunglasses (Free S...",₹209,65% off
1,Abreena,UV Protection Wayfarer Sunglasses (Free Size),₹149,78% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹649,35% off
3,Fastrack,UV Protection Rectangular Sunglasses (52),₹519,35% off
4,PIRASO,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹199,87% off
5,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹579,35% off
6,New Specs,"UV Protection, Polarized Wayfarer Sunglasses (...",₹254,90% off
7,Abreena,UV Protection Wayfarer Sunglasses (Free Size),₹199,80% off
8,SUNBEE,"Mirrored, Night Vision, UV Protection, Riding ...",₹283,78% off
9,Fastrack,UV Protection Shield Sunglasses (Free Size),₹629,30% off
10,Abreena,UV Protection Wayfarer Sunglasses (59),₹129,87% off
11,Abreena,UV Protection Aviator Sunglasses (54),₹176,64% off
12,Sewell,"UV Protection, Polarized, Mirrored Rectangular...",₹265,82% off
13,Fastrack,"Gradient, UV Protection Aviator Sunglasses (57)",₹649,27% off
14,VINCENT CHASE,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹649,67% off
15,PIRASO,"Night Vision, UV Protection Round Sunglasses (54)",₹251,84% off
16,Abreena,UV Protection Wayfarer Sunglasses (55),₹169,85% off
17,Abreena,"Others Cat-eye, Retro Square, Wayfarer Sunglas...",₹169,83% off
18,SHAAH COLLECTIONS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹185,89% off
19,GANSTA,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹296,85% off
20,Abreena,"Polarized, UV Protection Retro Square Sunglass...",₹149,75% off
21,Abreena,"Gradient, Toughened Glass Lens, UV Protection ...",₹147,85% off
22,Elligator,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹176,82% off
23,SRPM,UV Protection Aviator Sunglasses (58),₹199,80% off
24,PIRASO,UV Protection Wayfarer Sunglasses (32),₹251,84% off
25,Elligator,"Polarized, Riding Glasses Sports, Wrap-around ...",₹197,83% off
26,Abreena,"UV Protection, Riding Glasses, Mirrored Aviato...",₹162,83% off
27,Abreena,UV Protection Aviator Sunglasses (62),₹155,77% off
28,DEIXELS,UV Protection Wayfarer Sunglasses (50),₹236,60% off
29,Fastrack,"by Lenskart Polarized, UV Protection Cat-eye S...",₹679,24% off
30,CRYSTAL CART,"UV Protection, Gradient Retro Square Sunglasse...",₹209,83% off
31,Singco India,UV Protection Aviator Sunglasses (58),₹575,80% off
32,Fastrack,UV Protection Aviator Sunglasses (54),₹519,35% off
33,Fastrack,Polarized Retro Square Sunglasses (Free Size),₹939,27% off
34,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹209,86% off
35,ROZZETTA CRAFT,"Polarized, UV Protection Rectangular Sunglasse...",₹474,76% off
36,LOUIS KOUROS,"Mirrored, Night Vision, UV Protection, Riding ...","₹1,499",44% off
37,ROZZETTA CRAFT,UV Protection Round Sunglasses (54),₹616,75% off
38,SRPM,UV Protection Aviator Sunglasses (Free Size),₹149,88% off
39,VINCENT CHASE,UV Protection Rectangular Sunglasses (Free Size),₹949,52% off
40,Abreena,UV Protection Aviator Sunglasses (58),₹399,63% off
41,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (53),₹331,83% off
42,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹939,27% off
43,PIRASO,UV Protection Wayfarer Sunglasses (Free Size),₹251,84% off
44,Fastrack,UV Protection Spectacle Sunglasses (Free Size),₹559,30% off
45,Fastrack,UV Protection Aviator Sunglasses (55),₹579,27% off
46,PROVOGUE,UV Protection Wayfarer Sunglasses (Free Size),₹699,72% off
47,Sewell,UV Protection Cat-eye Sunglasses (17),₹265,82% off
48,Elligator,"Mirrored, UV Protection, Riding Glasses, Other...",₹318,87% off
49,PIRASO,"Mirrored, Night Vision, UV Protection, Riding ...",₹314,80% off
50,Yiweto,UV Protection Retro Square Sunglasses (54),₹199,80% off
51,New Specs,"UV Protection, Gradient Rectangular, Spectacle...",₹237,76% off
52,PIRASO,UV Protection Aviator Sunglasses (57),₹323,87% off
53,GANSTA,"UV Protection, Gradient Rectangular Sunglasses...",₹220,87% off
54,Fastrack,UV Protection Retro Square Sunglasses (Free Size),₹579,35% off
55,DEIXELS,UV Protection Shield Sunglasses (Free Size),₹236,52% off
56,ROZZETTA CRAFT,UV Protection Wayfarer Sunglasses (Free Size),₹379,81% off
57,ROZZETTA CRAFT,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹616,75% off
58,Fastrack,UV Protection Aviator Sunglasses (55),₹499,37% off
59,IDEE,UV Protection Rectangular Sunglasses (Free Size),₹959,63% off
60,Singco India,UV Protection Rectangular Sunglasses (55),₹296,85% off
61,Sewell,UV Protection Aviator Sunglasses (Free Size),₹292,80% off
62,Rich Club,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹299,57% off
63,Anemone,UV Protection Sunglass,₹449,85% off
64,Fastrack,"UV Protection, Toughened Glass Lens Aviator Su...",₹579,27% off
65,ROZZETTA CRAFT,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹379,81% off
66,ROZZETTA CRAFT,"UV Protection, Night Vision, Riding Glasses, G...",₹474,78% off
67,Yiweto,UV Protection Round Sunglasses (52),₹236,70% off
68,Fastrack,"Night Vision, Riding Glasses Rectangular Sungl...",₹649,27% off
69,Fastrack,UV Protection Sports Sunglasses (62),₹649,35% off
70,Yiweto,UV Protection Rectangular Sunglasses (Free Size),₹199,60% off
71,Yiweto,Others Spectacle Sunglasses (Free Size),₹199,77% off
72,Fastrack,Others Retro Square Sunglasses (Free Size),₹809,19% off
73,PIRASO,UV Protection Retro Square Sunglasses (Free Size),₹251,84% off
74,Lee Topper,"by Lenskart Polarized, UV Protection Aviator S...",₹219,78% off
75,kingsunglasses,"UV Protection, Gradient Round Sunglasses (Free...",₹255,82% off
76,Yiweto,UV Protection Rectangular Sunglasses (55),₹299,70% off
77,Yiweto,UV Protection Wayfarer Sunglasses (Free Size),₹299,70% off
78,MODE,Mirrored Aviator Sunglasses (55),₹179,77% off
79,ROYAL SON,"UV Protection, Gradient, Night Vision, Riding ...",₹664,66% off
80,METRONAUT,UV Protection Aviator Sunglasses (Free Size),₹322,78% off
81,Cristiano Ronnie,UV Protection Aviator Sunglasses (18),₹679,63% off
82,ROYAL SON,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹664,66% off
83,hipe,UV Protection Rectangular Sunglasses (Free Size),₹178,86% off
84,Fastrack,UV Protection Wayfarer Sunglasses (55),₹539,32% off
85,GANSTA,"Gradient, UV Protection Aviator Sunglasses (58)",₹228,82% off
86,NuVew,"Polarized, UV Protection Sports Sunglasses (Fr...",₹345,72% off
87,kingsunglasses,"UV Protection, Polarized, Mirrored Round Sungl...",₹222,77% off
88,Satyam Kraft,UV Protection Aviator Sunglasses (54),₹299,75% off
89,Urbanic,Others Retro Square Sunglasses (Free Size),₹439,59% off
90,ROZZETTA CRAFT,"UV Protection, Mirrored Retro Square Sunglasse...",₹474,78% off
91,VINCENT CHASE,"Riding Glasses, Riding Glasses, UV Protection ...",₹999,50% off
92,ROZZETTA CRAFT,UV Protection Wayfarer Sunglasses (18),₹379,81% off
93,kingsunglasses,UV Protection Wayfarer Sunglasses (Free Size),₹189,85% off
94,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719,20% off
95,ROYAL SON,UV Protection Wayfarer Sunglasses (62),₹379,74% off
96,EYELLUSION,UV Protection Round Sunglasses (50),₹230,82% off
97,Fastrack,"Polarized, UV Protection Round Sunglasses (50)",₹629,30% off
98,IDEE,UV Protection Round Sunglasses (52),₹909,67% off
99,kingsunglasses,"by Lenskart Polarized, UV Protection Aviator S...",₹260,82% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:


https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

When you will open the above link you will reach to the below shown webpage ..
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [106]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR"

In [107]:
driver.get(url)

In [108]:
#scraping Rating on first page
Rating=[]
for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'):
    Rating.append(i.text)
len(Rating)

10

In [109]:
#scraping Full review  on first page
Review_summary=[]
for i in driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'):
    Review_summary.append(i.text)
len(Review_summary)

10

In [110]:

#scraping Full review on first page
Full_review=[]
for i in driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]'):
    Full_review.append(i.text)
len(Full_review)

10

In [113]:
#clicking on next in first page
next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_btn.click()

In [114]:
#scraping Rating,Review_summary,Full_review for 100 reviews
#now wwe can scrap data from second page but it has to be noted that we have two buttons next and previous on the same class name . 
#so we will be using 2 index number to click on only next button

#scrap data from other pages automatically(9 pages remaining)

for i in range(0,10):
    
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'):
        Rating.append(i.text.replace("\n",''))
    
    for i in driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'):
        Review_summary.append(i.text.replace("\n",''))
    
    for i in driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]'):
        Full_review.append(i.text.replace("\n",''))
    driver.find_element(By.XPATH,'//a[@class="_1LKTO3"][2]').click()
    time.sleep(4)
    Rating=Rating[0:100]
    Review_summary=Review_summary[0:100]
    Full_review=Full_review[0:100]

In [115]:
len(Rating)

100

In [116]:
len(Review_summary)

100

In [117]:
len(Full_review)

100

In [118]:
#creating datasets
iphone_reviews=pd.DataFrame({"Rating":Rating,
                             "Review_summary":Review_summary,
                             "Full_review":Full_review
    
                                })

#printing dataset
iphone_reviews

,Rating,Review_summary,Full_review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,5,Highly recommended,It's my first time to use iOS phone and I am l...
7,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
8,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
9,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
10,5,Simply awesome,Really satisfied with the Product I received.....
11,4,Value-for-money,I'm Really happy with the productDelivery was ...
12,5,Perfect product!,Amazing phone with great cameras and better ba...
13,5,Best in the market!,Great iPhone very snappy experience as apple k...
14,5,Highly recommended,What a camera .....just awesome ..you can feel...
15,5,Worth every penny,Previously I was using one plus 3t it was a gr...
16,5,Highly recommended,It's my first time to use iOS phone and I am l...
17,5,Perfect product!,Value for money5 star ratingExcellent cameraBa...
18,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
19,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
20,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
21,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
22,5,Classy product,Best and amazing product.....phone looks so pr...
23,4,Good choice,So far it’s been an AMAZING experience coming ...
24,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
25,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
26,5,Perfect product!,Value for money❤️❤️Its awesome mobile phone in...
27,5,Perfect product!,It is just awesome mobile for this price from ...
28,4,Value-for-money,Just got this iphone 11And it is most powerful...
29,5,Highly recommended,"Amazing camera quality as expected, battery al..."
30,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
31,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
32,5,Terrific,Really worth of money. i just love it. It is t...
33,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
34,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
35,5,Wonderful,This is my first ever I phone. Before this I w...
36,5,Must buy!,Best Apple iPhone that i have bought at a very...
37,5,Classy product,Totally in love with this ❤ the camera quality...
38,5,Worth every penny,It’s been almost a month since I have been usi...
39,5,Excellent,Its a fabulous mobile look awesome performance...
40,4,Good choice,Looking so good 👍 😍 super 👌 stylish 😎 phoneCle...
41,5,Just wow!,Best in class. Battery backup is good especial...
42,5,Super!,It’s been 7 years I was waiting for an income ...
43,5,Classy product,We are on apple ecosystem for almost eight yea...
44,5,Perfect product!,"Battery backup is extraordinary, camera is dec..."
45,4,Nice product,Awesome Phone. Slightly high price but worth. ...
46,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
47,5,Must buy!,It’s an amazing product from apple and the cam...
48,5,Great product,Again back to apple iphone after a gap of 2-3 ...
49,5,Classy product,Superb Product !!!A big and worthy upgrade fro...
50,5,Classy product,Well while switching from android to iOS the f...
51,5,Fabulous!,awesome phone to have. it has got many smart f...
52,5,Awesome,I am using this phone for 5 days and its one o...
53,5,Perfect product!,After 1 month use I found camera quality best ...
54,5,Fabulous!,I can say I'm damn impressed with iPhone 11. A...
55,5,Simply awesome,It's very high performances devise i am like t...
56,5,Wonderful,I just directly switch from iphone 6s to iphon...
57,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
58,5,Excellent,Amazing camera and feel super machine I am not...
59,5,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ..."
60,5,Great product,Well you all know the specifications . One of ...
61,5,Terrific purchase,The built quality is not very premium.The batt...
62,5,Terrific purchase,Its Very awesome product working and good came...
63,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...
64,4,Very Good,impressive super phone and best in class camer...
65,5,Mind-blowing purchase,This will help you more. See if you are planni...
66,5,Simply awesome,Really good actually this is my first apple pr...
67,4,Good quality product,it is very good at performance. Camera is best...
68,5,Very poor,Reviewing again after 5 months. At the beginni...
69,5,Perfect product!,"In love with this iphone great performance,cam..."
70,5,Worthless,Phone is awesome no doubt. But Camera & Displa...
71,5,Fabulous!,Everything is perfect pictures come out so cle...
72,5,Wonderful,Superfast delivery by Flipkart. Thanks.1. iPho...
73,5,Must buy!,I rate this product 5* as it has got amazing u...
74,5,Great product,I was using android phone earlier..I was think...
75,5,Just wow!,The ultimate performanceCamera is superbThe ba...
76,5,Wonderful,Super and marvellous phone look very cute and ...
77,5,Wonderful,Nice value for money good and best price I pho...
78,5,Simply awesome,"Just awesome phone, everything works in such a..."
79,5,Best in the market!,Don’t expect much from front camera… especiall...
80,5,Worth every penny,iPhone is delivered on time. Display is great ...
81,5,Worth every penny,Here is the thingThe only reason why you shoul...
82,5,Worth every penny,It is better to buy iPhone 11 over iPhone 12 i...
83,5,Awesome,Very excited to have this phone. This phone ha...
84,5,Excellent,A perfect phone and a good battery super camer...
85,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
86,5,Excellent,🤩🤩🤩🤩🤩🤩I loved the Phone.. Every time I pick up...
87,5,Brilliant,Excellent camera and display touching very nic...
88,5,Terrific,I got this beast today. And I must say the pic...
89,5,Fabulous!,Gift this to your loved ones fabulous product ...
90,5,Perfect product!,Awesome purchase. Amazing phone with good batt...
91,3,Classy product,Gifted my man on his 30th birthday 🎂 He loves ...
92,5,Awesome,"Always love the apple products, upgraded from ..."
93,5,Does the job,phone is good but in display is 720p lcd in th...
94,5,Super!,This is my first ever iPhone.And I truly don’t...
95,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
96,5,Brilliant,A wort full value for money decision it’s . Si...
97,5,Must buy!,Dear friends... I want to share my experience ...
98,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
99,4,Brilliant,Amazing phone and on great deal I received wit...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [119]:
#operating flipkart website
url="https://www.flipkart.com/"
driver.get(url)

In [120]:
#Automate search
#locating product search bar

product_search=driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
product_search.send_keys("sneakers")

In [122]:
#searching using absolute xpath 
search_btn=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn.click()

In [123]:
Brand=[]
Product_Desc=[]
Price=[]
Disc=[]

In [124]:
#scrapping Brand,Product_Desc,Price,Discount on 1st page

for j in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    Brand.append(j.text)
for k in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    Price.append(k.text)
for l in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
    Disc.append(l.text)
for m in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    Product_Desc.append(m.text)

In [125]:
#clicking on next in first page
  
next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_btn.click()

In [126]:
start=1
end=3
#now wwe can scrap data from second page but it has to be noted that we have two buttons next and previous on the same class name . 
#so we will be using 2 index number to click on only next button

for i in range(start,end):
    for j in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        Brand.append(j.text)
    
    for k in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        Price.append(k.text)
    for l in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
        Disc.append(l.text)
    for m in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
        Product_Desc.append(m.text)
    next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"][2]')
    next_btn.click()
    time.sleep(3)

In [129]:
#filtering 100 data
Brand=Brand[:100]
Price=Price[:100]
Product_Desc=Product_Desc[:100]
Disc=Disc[:100]

In [130]:
#Creating Dataset

flipkart_sneakers=pd.DataFrame({"Brand-Name":Brand,
                                "Product_Description":Product_Desc,
                                "Discount":Disc,
                                "Price":Price
                                
                                
                                })
#printing the dataset

In [131]:
driver.close()

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below imag
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [132]:
from selenium import webdriver
#Activating chrome browser
driver=webdriver.Chrome("Chromedriver.exe")
#lets Automate the searchbar
driver.maximize_window()

In [133]:
url= "https://www.myntra.com/shoes"

In [134]:
#operating myntra website
#Automate search
driver.get(url)

In [135]:
#applying filter for black shoes
cf=driver.find_elements(By.XPATH,'//li[@class="colour-listItem"]')

In [136]:
cf[0].click()

In [137]:
#applying filter for price range
pf=driver.find_elements(By.XPATH,'//label[@class="common-customCheckbox vertical-filters-label"]')

In [138]:
pf[8].click()

In [139]:
brand=[]
for i in driver.find_elements(By.XPATH,'//h3[@class="product-brand"]'):
    brand.append(i.text)

In [140]:
len(brand)

50

In [141]:
brand

['Nike',
 'UNDER ARMOUR',
 'ALDO',
 'UNDER ARMOUR',
 'Nike',
 'Nike',
 'ADIDAS',
 'UNDER ARMOUR',
 'Nike',
 'Nike',
 'ADIDAS Originals',
 'Nike',
 'Ruosh',
 'UNDER ARMOUR',
 'Nike',
 'ADIDAS Originals',
 'Tommy Hilfiger',
 'UNDER ARMOUR',
 'Puma',
 'Saint G',
 'Puma',
 'Geox',
 'Geox',
 'ADIDAS',
 'Nike',
 'Nike',
 'ADIDAS',
 'Ruosh',
 'Saint G',
 'Nike',
 'ADIDAS',
 'Nike',
 'UNDER ARMOUR',
 'Skechers',
 'Saint G',
 'ADIDAS',
 'ADIDAS',
 'Skechers',
 'Puma',
 'Skechers',
 'Saint G',
 'ADIDAS',
 'Nike',
 'Puma',
 'ADIDAS Originals',
 'Columbia',
 'Nike',
 'ADIDAS',
 'ADIDAS Originals',
 'Nike']

In [142]:
description=[]
for i in driver.find_elements(By.XPATH,'//h4[@class="product-product"]'):
    description.append(i.text)

In [143]:
len(description)

50

In [144]:
description

['JORDAN MAX AURA 4 Shoes',
 'Men HOVR SonicSE Running Shoes',
 'Men Solid Leather Formal Derby',
 'Men ChargedEscape 3 BL Running',
 'Men Air Max Sneakers',
 'JORDAN ZION 2 Basketball Shoes',
 'Men Ultraboost 5.0 DNA Running',
 'Unisex 3ZER0 IV Basketball',
 'Men Air Max Flyknit Sneakers',
 'Men Vomero 16 Running Shoes',
 'Men Woven Nmd_R1 Sneakers',
 'ZOOM FREAK 4 Basketball Shoes',
 'Men Textured Leather Loafers',
 'Women HOVR SonicSE Running',
 'Men AIR MAX DAWN Sneakers',
 'Men Leather Ozelia Sneakers',
 'Men Textured Leather Loafers',
 'Men HOVR SonicSE Running Shoes',
 'Men Magnify Nitro Running',
 'Suede Above The Knee Boots',
 'Eternity Nitro Running Shoes',
 'Woman Leather Ankle Boots',
 'Leather Heeled Boots',
 'Men Runner Fl Running Shoes',
 'Men KD 15 Basketball Shoes',
 'AIR ZOOM G.T. Basketball Shoes',
 'Women Ultraboost 22 Running',
 'Men Textured Leather Loafers',
 'Block Heeled Boots',
 'Men Kyrie Flytrap Basketball',
 'Women Super 3.0 Running Shoes',
 'Men Jordan Delta 3 Basketball',
 'Unisex Curry Basketball Shoes',
 'Men Sky Vault Walking Shoes',
 'Women High-Top Heeled Boots',
 'Men Response Super 3.0 Run',
 'Men Response Super 3.0 Run',
 'Men Walking Shoes',
 'Men Nitro 2 WIDE Running Shoes',
 'Men GO WALK - TERRA Shoes',
 'Women Leather Boots',
 'Men Adistar Running Shoes',
 'Men AIR WINFLO 9 Running Shoes',
 'Men Fast-Trac Nitro Running',
 'Men Solid NMD_R1 V3 Sneakers',
 'Women Trekking Shoes',
 'Men JORDAN LOW Basketball Shoe',
 'Men Ultraboost22 Running Shoes',
 'Men ZX 22 BOOST Sneakers',
 'Women AIR ZOOM Running Shoes']

In [145]:
price=[]
for i in driver.find_elements(By.XPATH,'//div[@class="product-price"]'):
    price.append(i.text)

In [146]:
len(price)

50

In [147]:
price

['Rs. 10165Rs. 11295(10% OFF)',
 'Rs. 9999',
 'Rs. 10799Rs. 17999(40% OFF)',
 'Rs. 8999',
 'Rs. 8295',
 'Rs. 9175Rs. 10795(15% OFF)',
 'Rs. 11899Rs. 16999(30% OFF)',
 'Rs. 8999',
 'Rs. 12745Rs. 14995(15% OFF)',
 'Rs. 11470Rs. 13495(15% OFF)',
 'Rs. 12999',
 'Rs. 9600Rs. 11295(15% OFF)',
 'Rs. 7990',
 'Rs. 9999',
 'Rs. 9175Rs. 10795(15% OFF)',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 13410Rs. 14900(10% OFF)',
 'Rs. 12999',
 'Rs. 13990',
 'Rs. 13990',
 'Rs. 11249Rs. 14999(25% OFF)',
 'Rs. 11196Rs. 13995(20% OFF)',
 'Rs. 13595Rs. 15995(15% OFF)',
 'Rs. 12349Rs. 18999(35% OFF)',
 'Rs. 8990',
 'Rs. 7560Rs. 8400(10% OFF)',
 'Rs. 7220Rs. 8495(15% OFF)',
 'Rs. 8999',
 'Rs. 10875Rs. 12795(15% OFF)',
 'Rs. 10999',
 'Rs. 8999',
 'Rs. 10710Rs. 11900(10% OFF)',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 11999',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 12999',
 'Rs. 7220Rs. 8495(15% OFF)',
 'Rs. 10999',
 'Rs. 12799Rs. 15999(20% OFF)',
 'Rs. 8999',
 'Rs. 12795',
 'Rs. 13499Rs. 17999(25% OFF)',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 8750Rs. 10295(15% OFF)']

In [148]:
#we need to scrap more 50 data, let's move to second page
#scrapping data from next page

In [149]:
#clicking on next_button
next_btn=driver.find_element(By.XPATH,'//span[@class="pagination-arrowRight"]')
next_btn.click()

In [150]:
#scraping brand
for i in driver.find_elements(By.XPATH,'//h3[@class="product-brand"]'):
    brand.append(i.text)

In [151]:
#scraping description
for i in driver.find_elements(By.XPATH,'//h4[@class="product-product"]'):
    description.append(i.text)

In [152]:
#scraping price
for i in driver.find_elements(By.XPATH,'//div[@class="product-price"]'):
    price.append(i.text)

In [153]:
len(brand),len(description),len(price)

(100, 100, 100)

In [154]:
#creating datasets
myntra=pd.DataFrame({"brand":brand,
                    "description":description,
                    "price":price})
#printing dataset
myntra

,brand,description,price
0,Nike,JORDAN MAX AURA 4 Shoes,Rs. 10165Rs. 11295(10% OFF)
1,UNDER ARMOUR,Men HOVR SonicSE Running Shoes,Rs. 9999
2,ALDO,Men Solid Leather Formal Derby,Rs. 10799Rs. 17999(40% OFF)
3,UNDER ARMOUR,Men ChargedEscape 3 BL Running,Rs. 8999
4,Nike,Men Air Max Sneakers,Rs. 8295
5,Nike,JORDAN ZION 2 Basketball Shoes,Rs. 9175Rs. 10795(15% OFF)
6,ADIDAS,Men Ultraboost 5.0 DNA Running,Rs. 11899Rs. 16999(30% OFF)
7,UNDER ARMOUR,Unisex 3ZER0 IV Basketball,Rs. 8999
8,Nike,Men Air Max Flyknit Sneakers,Rs. 12745Rs. 14995(15% OFF)
9,Nike,Men Vomero 16 Running Shoes,Rs. 11470Rs. 13495(15% OFF)
10,ADIDAS Originals,Men Woven Nmd_R1 Sneakers,Rs. 12999
11,Nike,ZOOM FREAK 4 Basketball Shoes,Rs. 9600Rs. 11295(15% OFF)
12,Ruosh,Men Textured Leather Loafers,Rs. 7990
13,UNDER ARMOUR,Women HOVR SonicSE Running,Rs. 9999
14,Nike,Men AIR MAX DAWN Sneakers,Rs. 9175Rs. 10795(15% OFF)
15,ADIDAS Originals,Men Leather Ozelia Sneakers,Rs. 8799Rs. 10999(20% OFF)
16,Tommy Hilfiger,Men Textured Leather Loafers,Rs. 8999
17,UNDER ARMOUR,Men HOVR SonicSE Running Shoes,Rs. 9999
18,Puma,Men Magnify Nitro Running,Rs. 9099Rs. 12999(30% OFF)
19,Saint G,Suede Above The Knee Boots,Rs. 13410Rs. 14900(10% OFF)
20,Puma,Eternity Nitro Running Shoes,Rs. 12999
21,Geox,Woman Leather Ankle Boots,Rs. 13990
22,Geox,Leather Heeled Boots,Rs. 13990
23,ADIDAS,Men Runner Fl Running Shoes,Rs. 11249Rs. 14999(25% OFF)
24,Nike,Men KD 15 Basketball Shoes,Rs. 11196Rs. 13995(20% OFF)
25,Nike,AIR ZOOM G.T. Basketball Shoes,Rs. 13595Rs. 15995(15% OFF)
26,ADIDAS,Women Ultraboost 22 Running,Rs. 12349Rs. 18999(35% OFF)
27,Ruosh,Men Textured Leather Loafers,Rs. 8990
28,Saint G,Block Heeled Boots,Rs. 7560Rs. 8400(10% OFF)
29,Nike,Men Kyrie Flytrap Basketball,Rs. 7220Rs. 8495(15% OFF)
30,ADIDAS,Women Super 3.0 Running Shoes,Rs. 8999
31,Nike,Men Jordan Delta 3 Basketball,Rs. 10875Rs. 12795(15% OFF)
32,UNDER ARMOUR,Unisex Curry Basketball Shoes,Rs. 10999
33,Skechers,Men Sky Vault Walking Shoes,Rs. 8999
34,Saint G,Women High-Top Heeled Boots,Rs. 10710Rs. 11900(10% OFF)
35,ADIDAS,Men Response Super 3.0 Run,Rs. 8999
36,ADIDAS,Men Response Super 3.0 Run,Rs. 8999
37,Skechers,Men Walking Shoes,Rs. 8999
38,Puma,Men Nitro 2 WIDE Running Shoes,Rs. 11999
39,Skechers,Men GO WALK - TERRA Shoes,Rs. 7499Rs. 9999(25% OFF)
40,Saint G,Women Leather Boots,Rs. 9810Rs. 10900(10% OFF)
41,ADIDAS,Men Adistar Running Shoes,Rs. 12999
42,Nike,Men AIR WINFLO 9 Running Shoes,Rs. 7220Rs. 8495(15% OFF)
43,Puma,Men Fast-Trac Nitro Running,Rs. 10999
44,ADIDAS Originals,Men Solid NMD_R1 V3 Sneakers,Rs. 12799Rs. 15999(20% OFF)
45,Columbia,Women Trekking Shoes,Rs. 8999
46,Nike,Men JORDAN LOW Basketball Shoe,Rs. 12795
47,ADIDAS,Men Ultraboost22 Running Shoes,Rs. 13499Rs. 17999(25% OFF)
48,ADIDAS Originals,Men ZX 22 BOOST Sneakers,Rs. 9599Rs. 11999(20% OFF)
49,Nike,Women AIR ZOOM Running Shoes,Rs. 8750Rs. 10295(15% OFF)
50,Skechers,Men Sky Vault Walking Shoes,Rs. 8999
51,Puma,Men Running Shoes,Rs. 13999
52,Saint G,Leather Block Heeled Boots,Rs. 8010Rs. 8900(10% OFF)
53,ADIDAS,Women Solid Pureboost 22 Shoes,Rs. 8999Rs. 11999(25% OFF)
54,Puma,Women Eternity NITRO Shoes,Rs. 12999
55,Nike,Women AIR ZOOM Running Shoes,Rs. 8750Rs. 10295(15% OFF)
56,ADIDAS Originals,Men Woven NMD_31 Sneakers,Rs. 9799Rs. 13999(30% OFF)
57,Nike,Men FREE RUN 2 Sneakers,Rs. 9695
58,UNDER ARMOUR,Men HOVR Sonic SE Running Shoe,Rs. 9999
59,Puma,Men Nitro 2 WIDE Running Shoes,Rs. 11999
60,Xtep,Men Skateboarding Shoes,Rs. 8599
61,Puma,Women Running Sports Shoes,Rs. 10499Rs. 14999(30% OFF)
62,ADIDAS Originals,Women Forum Bonega Sneakers,Rs. 10199Rs. 11999(15% OFF)
63,ADIDAS Originals,Men Woven FomSolution Sneakers,Rs. 9999
64,Tommy Hilfiger,Men Solid Sneakers,Rs. 7999Rs. 9999(20% OFF)
65,Geox,Women Solid Boots,Rs. 13990
66,ADIDAS Originals,Men Retropy F90 Sneakers,Rs. 9999
67,J.FONTINI,Men Textured Leather Loafers,Rs. 8490
68,ALDO,Women Regular Boots,Rs. 13999
69,Skechers,Women Go Walk EU Walking Shoes,Rs. 7499
70,Saint G,Leather Wedge Heeled Boots with Buckles,Rs. 13410Rs. 14900(10% OFF)
71,Hush Puppies,Men Perforations Leather Slip-On Sneakers,Rs. 7999
72,Puma,Fusion Evo Extra Wide Golf Shoes,Rs. 7649Rs. 8999(15% OFF)
73,Geox,Women Solid Boots,Rs. 12990
74,Skechers,Men Woven Design Sneakers,Rs. 7499
75,ADIDAS,Women Super 3.0 Running Shoes,Rs. 8999
76,SKO,Men Perforations Leather Loafers,Rs. 7500
77,Puma,Women Run XX Nitro Running,Rs. 9999
78,Saint G,Women Leather Knee High Boots,Rs. 12510Rs. 13900(10% OFF)
79,ADIDAS Originals,Men ZX 5K Boost Sneakers,Rs. 12799Rs. 15999(20% OFF)
80,Nike,Women Air Max Flyknit Sneakers,Rs. 11996Rs. 14995(20% OFF)
81,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 9999
82,ALDO,Men Mid Top Lace Up Sneakers,Rs. 9599Rs. 15999(40% OFF)
83,Bugatti,Men Running Shoes,Rs. 13999
84,Nike,Women React Infinity Running,Rs. 11196Rs. 13995(20% OFF)
85,ALDO,Men Slip-On Sneakers,Rs. 9099Rs. 12999(30% OFF)
86,Geox,Leather Ankle Boots,Rs. 11990
87,Skechers,Men GO FLEX 2-COMPLETION Shoes,Rs. 7499
88,ALDO,Women Textured Sneakers,Rs. 12999
89,ADIDAS Originals,Women Forum Low Sneakers,Rs. 9999
90,Nike,Women VOMERO 16 Running Shoes,Rs. 11470Rs. 13495(15% OFF)
91,Clarks,Men Solid Leather Formal Loafers,Rs. 7999
92,Nike,Men JORDAN LOW Basketball Shoe,Rs. 12795
93,Geox,Men Leather Slip-On Sneakers,Rs. 13166Rs. 15490(15% OFF)
94,Bugatti,Men Textured Leather Sneakers,Rs. 11999
95,ADIDAS Originals,Women Superstar Sneakers,Rs. 9999
96,Bugatti,Men Walking Shoes,Rs. 9999
97,Louis Philippe,Men Leather Formal Slip-Ons,Rs. 7224Rs. 8499(15% OFF)
98,ALDO,Men Textured Leather Loafers,Rs. 11199Rs. 15999(30% OFF)
99,Heel & Buckle London,Men Leather Sneakers,Rs. 11192Rs. 13990(20% OFF)

In [155]:
driver.close()

Q8: Go to webpage https://www.amazon.in/

Enter “Laptop” in the search field and then click the search icon.

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Pric

In [156]:
#importing the selenium webdriver
from selenium import webdriver

#Activating chrome browser
driver=webdriver.Chrome("Chromedriver.exe")

#lets Automate the searchbar
driver.maximize_window()

In [157]:
#operating amazon website

url="https://www.amazon.in/"
driver.get(url)

In [158]:
#Automate search
#locating product search bar and entering laptop
product_search=driver.find_element(By.ID,"twotabsearchtextbox")
product_search.send_keys("Laptop")

In [159]:
#searching the product
product_search=driver.find_element(By.ID,"nav-search-submit-button")
product_search.click()

In [160]:
#providing i-seveb filter 
i_seven=driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
i_seven.click()

In [166]:
#scraping Ratings
Title=[]
for i in driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]'):
    Title.append(i.text.replace("\n",''))

In [167]:
Title

['Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm) FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm) FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Laptop (16GB/512GB SSD/Win 11/Office 2021/Backlit KB/Fingerprint/FHD Camera/Alexa/3 Month Game Pass/Storm Grey/1.85Kg), 82SF004XIN',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/256 GB SSD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)',
 'Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDDR5, 512GB SSD, Integrated, 13.3" (33.78Cms) QHD+ WVA AG 300 nits, Win 11+ MSO\'21, Platinum Silver (D560754WIN9S, 1.25Kgs)',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'Lenovo ThinkBook 15 Intel 12th Gen Core i7 15.6" (39.62cm) FHD 250 nits Antiglare Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Backlit/Mineral Grey/1.7 Kg), 21DJA04NIH',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 4 GB Ram & 128 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 'Acer Nitro 5 Gaming Laptop/12th Gen Intel Core i7-12700H Processor 14core/15.6"(39.6cm) FHD 144Hz Display(16GB/512GB SSD/1TB HDD/RTX 3050Ti Graphics/Windows 11/RGB),AN515-58 + Xbox Game Pass Ultimate',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/500 GB HDD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)',
 'Infinix X1 Slim Series Core i7 10th Gen - (16 GB/512 GB SSD/Windows 11 Home) XL21 Thin and Light Laptop (14 Inch, 1.24 kg)',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'Acer Spin 5 (2 in 1 ) Professional Laptop with Active Stylus Pen (12th Gen Intel Core i7/16GB RAM/1 TB SSD/Windows 11 Home/MS Office/Fingerprint Reader) SP514-51N with 35.6 cm (14 inches), 1.3 KG',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 8 GB Ram & 256 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 32 GB Ram & 1TB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 '(Renewed) Dell 7480 Intel Core i7 14-Inch (35.56 cms) Full HD (1920 X 1080) Laptop (16 GB/256 SSD/Windows 10 Pro/Integrated_graphics/Black/2.16 Kg), TFJ45',
 'Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-inch (35.56cm) FHD TN Antiglare Thin and Light Laptop (16GB RAM/512GB SSD/Windows 11 Home/Microsoft Office H&S 2021/FPR/Black/1.59 kg), 20TAS1B400',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 16 GB Ram & 128 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 '(Renewed) LifeDigital Intel Core i7 15.6 inches Laptop (4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7, 1.8Kg',
 '(Renewed) Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN',
 'MSI Modern 14, Intel i7-1165G7, 14" FHD IPS-Level 60Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Intel UHD Graphics/Carbon Grey/1.3Kg), B11MOU-473IN',
 'Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen 15.6"(39.62cm) FHD IPS Gaming Laptop (8GB/512GB SSD/4GB NVIDIA GTX 1650/120Hz/Windows 11/Backlit Keyboard/3months Game Pass/Onyx Black/2.2Kg), 81Y401BHIN',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 16 GB Ram & 2TB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 4 GB Ram & 256 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 '(Renewed) HP Workstation Zbook Intel Core i7-4810MQ Quad Core Processor , 16 GB Ram & 512 GB SSD, 15.6 Inches with Intel & Nvidia K2100M Dual Graphics with FHD Screen 1080p Laptop Computer',
 'AGB Octev GA-9009 15.6"Laptop (Intel Core i7-1165G7 11th Gen, 16GB RAM / 1TB SSD / Intel Iris Xe / MX 450 / Win 10 Pro (Free Upgrade in Windows 11) / Aluminium Body',
 'Lenovo Legion 5 Intel Core i7 11th Gen 15.6" (39.62cm) FHD IPS Gaming Laptop (16GB/512GB SSD/4GB NVIDIA RTX 3050/120Hz/Windows 11/Office 2021/Backlit/3months Game Pass/Phantom Blue/2.4Kg), 82JK00GCIN']

In [168]:
Title=Title[0:10]

In [169]:
len(Title)

10

In [170]:
#scraping Ratings
Ratings=[]
for i in driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span[1]'):
    Ratings.append(i.get_attribute('aria-label'))

In [171]:
Ratings=Ratings[0:10]

In [172]:
Ratings

['3.6 out of 5 stars',
 '3.6 out of 5 stars',
 '4.5 out of 5 stars',
 '3.6 out of 5 stars',
 '3.8 out of 5 stars',
 '4.3 out of 5 stars',
 '3.5 out of 5 stars',
 '4.3 out of 5 stars',
 '5.0 out of 5 stars',
 '3.9 out of 5 stars']

In [173]:
#scraping price
price=[]
for i in driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]'):
    Price.append(i.text)

In [174]:
Price=Price[0:10]
Price

['₹616',
 '₹616',
 '₹1,249',
 '₹1,349',
 '₹395',
 '₹299',
 '₹299',
 '₹1,099',
 '₹329',
 '₹499']

In [175]:
len(Title),len(Ratings),len(Price)

(10, 10, 10)

In [176]:
amazon=pd.DataFrame({"Title":Title,
                     "Ratings":Ratings,
                     "Price":Price})
amazon

,Title,Ratings,Price
0,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,3.6 out of 5 stars,₹616
1,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,3.6 out of 5 stars,₹616
2,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,4.5 out of 5 stars,"₹1,249"
3,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,3.6 out of 5 stars,"₹1,349"
4,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.8 out of 5 stars,₹395
5,Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...,4.3 out of 5 stars,₹299
6,(Renewed) HP ProBook 430 G3 6th Gen Intel Core...,3.5 out of 5 stars,₹299
7,"Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDD...",4.3 out of 5 stars,"₹1,099"
8,Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...,5.0 out of 5 stars,₹329
9,Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....,3.9 out of 5 stars,₹499

In [177]:
driver.close()

Q9: Write a python program to scrape data for Top 1000 Quotes of All Time.
 The above task will be done in following steps:
 
 
 1.First get the webpage https://www.azquotes.com/
 
 2. Click on Top Quotes
 3. Than scrap a) Quote b) Author c) Type Of Quote

In [178]:
pd.set_option("display.max_rows", 100)

#importing the selenium webdriver
from selenium import webdriver

#Activating chrome browser
driver=webdriver.Chrome("Chromedriver.exe")

#lets Automate the searchbar
driver.maximize_window()

In [179]:
#operating amazon website
url="https://www.azquotes.com/"
driver.get(url)

In [180]:
#Clicking  Top Quotes
search_quotes=driver.find_element(By.XPATH,'//*[@id="menu"]/div/div[3]/ul/li[5]/a')
search_quotes.click()

In [181]:
#scraping quotes on 1st page
quotes=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title"]'):
    quotes.append(i.text)

In [182]:
len(quotes)

100

In [183]:
quotes

['The essence of strategy is choosing what not to do.',
 'One cannot and must not try to erase the past merely because it does not fit the present.',
 'Patriotism means to stand by the country. It does not mean to stand by the president.',
 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.',
 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.',
 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.',
 'Weak people revenge. Strong people forgive. Intelligent People Ignore.',
 "A mind is like a parachute. It doesn't work if it is not open.",
 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.',
 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.',
 "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.",
 'The difference between stupidity and genius is that genius has its limits.',
 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.',
 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.',
 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.',
 'A person who never made a mistake never tried anything new.',
 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style',
 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.',
 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.',
 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.',
 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.',
 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.',
 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.',
 'Kindness is the language which the deaf can hear and the blind can see.',
 'Most folks are as happy as they make up their minds to be.',
 'A happy marriage is the union of two good forgivers.',
 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.',
 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.',
 "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?",
 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.',
 'I never think of the future - it comes soon enough.',
 "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.",
 'Failure is simply the opportunity to begin again, this time more intelligently.',
 'Music expresses that which cannot be put into words.',
 'Good actions are a guard against the blows of adversity.',
 'Positive thinking will let you do everything better than negative thinking will.',
 "You have enemies? Good. That means you've stood up for something, sometime in your life.",
 "You don't have to be great to start, but you have to start to be great",
 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.',
 "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom.",
 'Socialism is a philosophy of failure, the creed of ignorance, and the gospel of envy, its inherent virtue is the equal sharing of misery.',
 'It is the supreme art of the teacher to awaken joy in creative expression and knowledge.',
 "Once you replace negative thoughts with positive ones, you'll start having positive results.",
 "You build on failure. You use it as a stepping stone. Close the door on the past. You don't try to forget the mistakes, but you don't dwell on it. You don't let it have any of your energy, or any of your time, or any of your space.",
 'All my life through, the new sights of Nature made me rejoice like a child.',
 "I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.",
 'Marriage is not a ritual or an end. It is a long, intricate, intimate dance together and nothing matters more than your own sense of balance and your choice of partner.',
 'When obstacles arise, you change your direction to reach your goal; you do not change your decision to get there.',
 'Time you enjoy wasting, was not wasted.',
 'The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.',
 'Faith is not the belief that God will do what you want. It is the belief that God will do what is right.',
 "If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.",
 'I say that the most liberating thing about beauty is realizing that you are the beholder.',
 'It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.',
 'The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.',
 'The soldier, above all other people, prays for peace, for he must suffer and bear the deepest wounds and scars of war.',
 'A true leader has the confidence to stand alone, the courage to make tough decisions, and the compassion to listen to the needs of others. He does not set out to be a leader, but becomes one by the equality of his actions and the integrity of his intent.',
 'I am a Soldier, I fight where I am told, and I win where I fight.',
 "Trying to do the Lord's work in your own strength is the most confusing, exhausting, and tedious of all work. But when you are filled with the Holy Spirit, then the ministry of Jesus just flows out of you.",
 "Sports for me is when a guy walks off the court, and you really can't tell whether he won or lost, when he carries himself with pride either way.",
 'Expect the best. Prepare for the worst. Capitalize on what comes.',
 'I became insane, with long intervals of horrible sanity.',
 'Failure is a detour, not a dead-end street.',
 'I am not a product of my circumstances. I am a product of my decisions.',
 'You can cut all the flowers but you cannot keep spring from coming.',
 "Life doesn't run away from nobody. Life runs at people.",
 'In order to succeed, your desire for success should be greater than your fear of failure.',
 "It's difficult to think anything but pleasant thoughts while eating a homegrown tomato.",
 'Too many of us are not living our dreams because we are living our fears.',
 'If the only prayer you ever say in your entire life is thank you, it will be enough.',
 "It's just a job. Grass grows, birds fly, waves pound the sand. I beat people up.",
 'A man must be big enough to admit his mistakes, smart enough to profit from them, and strong enough to correct them.',
 'Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.',
 'This is one small step for a man, one giant leap for mankind.',
 "It has been said, 'time heals all wounds.' I do not agree. The wounds remain. In time, the mind, protecting its sanity, covers them with scar tissue and the pain lessens. But it is never gone.",
 "I have held many things in my hands, and I have lost them all; but whatever I have placed in God's hands, that I still possess.",
 "Welfare's purpose should be to eliminate, as far as possible, the need for its own existence.",
 'Each time, before you intercede, be quiet first, and worship God in His glory. Think of what He can do, and how He delights to hear the prayers of His redeemed people. Think of your place and privilege in Christ, and expect great things!',
 "Failure is not the opposite of success; it's part of success.",
 'No one has ever become poor by giving.',
 'It is not my ability, but my response to God’s ability, that counts.',
 'No matter what people tell you, words and ideas can change the world.',
 'No one is born hating another person because of the color of his skin, or his background, or his religion. People must learn to hate, and if they can learn to hate, they can be taught to love, for love comes more naturally to the human heart than its opposite.',
 'A man should never neglect his family for business.',
 'Those who dare to fail miserably can achieve greatly.',
 'The two most important days in your life are the day you are born and the day you find out why.',
 'We must be global Christians with a global vision because our God is a global God.',
 'With everything that has happened to you, you can either feel sorry for yourself or treat what has happened as a gift. Everything is either an opportunity to grow or an obstacle to keep you from growing. You get to choose.',
 'Don’t let the noise of others’ opinions drown out your own inner voice.',
 'History, despite its wrenching pain, cannot be unlived, but if faced with courage, need not be lived again.',
 "How old would you be if you didn't know how old you are?",
 'Leadership is a privilege to better the lives of others. It is not an opportunity to satisfy personal greed.',
 'If you have good thoughts they will shine out of your face like sunbeams and you will always look lovely.',
 'Never cut a tree down in the wintertime. Never make a negative decision in the low time. Never make your most important decisions when you are in your worst moods. Wait. Be patient. The storm will pass. The spring will come.',
 'An optimist stays up until midnight to see the new year in. A pessimist stays up to make sure the old year leaves.',
 'When the going gets weird, the weird turn pro.',
 "When a train goes through a tunnel and it gets dark, you don't throw away the ticket and jump off. You sit still and trust the engineer.",
 "God doesn't require us to succeed, he only requires that you try.",
 'If you think you are too small to make a difference, try sleeping with a mosquito.',
 'Change your thoughts and you change your world.']

In [184]:
#scraping Author on 1st page
Author=[]
for i in driver.find_elements(By.XPATH,'//div[@class="author"]'):
    Author.append(i.text)

In [185]:
len(Author)

100

In [186]:
#Type Of Quote on 1st page
Type_Of_Quote=[]
for i in driver.find_elements(By.XPATH,'//div[@class="tags"]'):
    Type_Of_Quote.append(i.text)

In [187]:
len(Type_Of_Quote)

100

In [188]:
#scraping quotes,Author,Type Of Quote for all 10 page

start=1
end=11
Author=[]
Type_Of_Quote=[]
quotes=[]

for i in range(start,end):
    for j in driver.find_elements(By.XPATH,'//div[@class="author"]'):
        Author.append(j.text)
    
    for k in driver.find_elements(By.XPATH,'//a[@class="title"]'):
        quotes.append(k.text)
        
    for l in driver.find_elements(By.XPATH,'//div[@class="tags"]'):
        Type_Of_Quote.append(l.text)
    #checking for the end of available page
    if (i==10):
        break
    else:
        next_btn=driver.find_element(By.XPATH,'//li[@class="next"]')
        next_btn.click()

In [190]:
print(len(Author),len(Type_Of_Quote),len(quotes))

1000 1000 1000

In [191]:
Type_Of_Quote

['Essence, Deep Thought, Transcendentalism',
 'Inspiration, Past, Trying',
 'Country, Peace, War',
 'Inspirational, Motivational, Death',
 '4th Of July, Food, Patriotic',
 'Inspirational, Success, Basketball',
 'Strong, Revenge, Intelligent',
 'Inspirational, Teacher, Religious',
 'Truth, Honesty, Lying',
 'Funny, Reading, Learning',
 'Strong, Thoughtful, Compassion',
 'Love, Funny, Life',
 'Freedom, Men, Democracies Have',
 'God, Religious, Atheist',
 'Respect, Kindness, Character',
 'Inspirational, Motivational, Change',
 'Inspirational, Life, Inspiring',
 'Love, Inspirational, Life',
 'Inspiring, Country, 4th Of July',
 'Inspirational, Dream, Hate',
 'Love, Inspirational, Life',
 'Forgiveness, God, Christian',
 'Country, Men, Squares',
 'Inspirational, Relationship, Positive',
 'Inspirational, Motivational, Positive',
 'Love, Friendship, Relationship',
 'Faith, God, Christian',
 'Art, Freedom, Political Will',
 'Inspirational, Life, Faith',
 'Inspirational, Life, Meaningful',
 'Happiness, Time, Clever',
 'Inspirational, Inspiring, Success',
 'Love, Inspirational, Life',
 'Music, Sound And Music, Musical Life',
 'Adversity, Blow, Action',
 'Positive, Thinking Of You, Attitude',
 'Inspirational, Funny, Life',
 'Inspirational, Life, Motivational',
 'Inspirational, Memorial Day, Freedom',
 'Freedom, Patriotic, Vaccines',
 'Philosophy, Ignorance, Democratic Socialism',
 'Inspirational, Dance, Education',
 'Life, Change, Positive',
 'Life, Bullying, Mistake',
 'Life, Nature, Children',
 'Inspirational, Life, Motivational',
 'Marriage, Love You, Long',
 'Inspirational, Motivational, Success',
 'Love, Inspirational, Life',
 'Diversity, Important, Liberty',
 'Inspirational, God, Faith',
 'Inspirational, Motivational, Inspiring',
 'Beauty, Love Yourself, Your Beautiful',
 'Business, Stupid, Government',
 'Inspirational, Life, Motivational',
 'Peace, Military, War',
 'Inspirational, Leadership, Confidence',
 'Motivational, Military, War',
 'Christian, Jesus, Confusing',
 'Inspirational, Success, Sports',
 'Inspirational, Motivational, Success',
 'Inspirational, Life, Clever',
 'Inspirational, Death, Failure',
 'Inspirational, Life, Motivational',
 'Inspiring, Hope, Spring',
 'Motivational, Running, People',
 'Inspirational, Motivational, Positive',
 'Summer, Food, Garden',
 'Inspirational, Life, Motivational',
 'Inspirational, Life, Thank You',
 'Funny, Sports, Jobs',
 'Being Strong, Wisdom, Stay Strong',
 'Inspirational, Motivational, Positive',
 'Motivational, Positive, Moon',
 'Time, Pain, Get Well',
 'Life, God, Christian',
 'President, Needs, Purpose',
 'God, Faith, Christian',
 'Women, Failure, Successful',
 'Inspirational, Morning, Kindness',
 'Hiding Place, Ability, Baby Boom',
 'Inspirational, Change, Philosophy',
 'Love, Inspirational, Life',
 'Inspirational, Family, Inspiring',
 'Inspirational, Success, Courage',
 'Inspirational, Life, Motivational',
 'Christian, Vision, Missionary',
 'Inspirational, Positive, Regret',
 'Love, Inspirational, Life',
 'Inspirational, Life, Encouragement',
 'Happy Birthday, Baseball, Fun',
 'Leadership, Power, Opportunity',
 'Inspirational, Life, Positive',
 'Inspirational, Encouraging, Patience',
 'New Year, Fun, New Beginnings',
 'Music, Sports, Hunting',
 'Trust, Encouraging, Uplifting',
 'Success, God, Mother',
 'Inspirational, Funny, Change',
 'Inspirational, Motivational, Change',
 'Spring, April, Fragrance',
 'Inspirational, Motivational, Positive',
 'Inspirational, Faith, Spiritual',
 'Love, Inspirational, Life',
 'Strength, Peace, Gun',
 'Inspirational, Happiness, Leadership',
 'Motivational, Dream, Determination',
 'Freedom, Independent, Science',
 'Life, Being Strong, Wisdom',
 'Happy, God, New Year',
 'Inspiring, Leadership, Teacher',
 'Inspirational, Motivational, Fear',
 'Inspirational, Success, Business',
 'Inspirational, Respect, Idols',
 'God, Bridges, Grace',
 'Inspirational, Life, Self Esteem',
 'Inspirational, Change, Moving On',
 'Life, Change, Happiness',
 'Love, Success, Encouraging',
 'Inspirational, Life, Motivational',
 'Government, Gun Control, Second Amendment',
 'Inspirational, Life, Motivational',
 'Inspirational, Motivational, Moving On',
 'Love, Life, Positive',
 'Love, Loving Yourself, Stay Positive',
 'Inspirational, Life, Motivational',
 'Inspirational, Life, Motivational',
 'Love, Marriage, Wedding',
 'Freedom, Liberty, Libertarian',
 'Inspirational, Motivational, Positive',
 'Moving On, Growing Up, Memories',
 'Art, Philosophy, Crazy',
 'Dream, Kings, Children',
 'Self Esteem, Helping Others, Numbers',
 'Inspirational, Motivational, Sports',
 'Inspirational, Happiness, Happy',
 'Happiness, Moving On, Letting Go',
 'Inspirational, Motivational, Success',
 'Inspirational, Blessed, Blessing',
 'Inspirational, Life, Country',
 'Inspirational, Funny, Life',
 'Inspirational, Music, Lonely',
 'Men, Self, Soul',
 'Inspirational, Success, God',
 'Thank You, Military, Marine',
 'Trust, God, Confidence',
 'Inspirational, Funny, Witty',
 'Inspirational, Motivational, Inspiring',
 'Motivational, Commitment, Tolerance',
 'Inspirational, Life, Motivational',
 'Motivational, Perseverance, Work',
 'Ignorance, Knowledge, Hunting',
 'Inspirational, Motivational, Positive',
 'Motivational, Perseverance, Morning',
 'Inspirational, Success, Letting Go',
 'Happiness, Being Happy, Peace',
 'Military, Army, Warfare',
 'Inspirational, Change, Positive',
 'Strength, Inspiring, Dream',
 'Dog, Men, Animal',
 'Inspirational, Life, Motivational',
 'Inspirational, Motivational, Change',
 'Inspirational, Leadership, Wise',
 'Friendship, Fake Friends, Memorable',
 'Inspirational, Money, Business',
 'Love, Marriage, Home',
 'Life, Death, Wisdom',
 'Change, America, Presidential',
 'Basketball, Motivational Sports, Character',
 'Inspirational, Inspiring, Christian',
 'Inspirational, Education, Moving',
 'Inspirational, Children, Growing Up',
 'Inspiring, Children, Team',
 'Love, Funny, Sarcastic',
 'Inspirational, Motivational, Change',
 'Inspirational, Relationship, Inspiring',
 'Death, Philosophy, Real',
 'Funny, Life, Motivational',
 'Love, Birthday, Family',
 'Life, Friendship, Best Friend',
 'Inspirational, Life, Motivational',
 'Inspirational, Life, Motivational',
 'Teacher, Peace, Children',
 'Inspirational, Life, Positive',
 'Peace, War, Memorable',
 'Inspirational, Life, Motivational',
 'Inspirational, Women, Sight',
 'Motivational, Success, Encouragement',
 'Motivational, Faith, Sports',
 'Positive, Inspiring, Success',
 'Inspirational, Faith, Hope',
 'Love, Inspirational, Motivational',
 'Success, Encouraging, Patience',
 'Love, Inspirational, Motivational',
 'Inspirational, Life, Motivational',
 'Love, Inspirational, Life',
 'Inspirational, Motivational, Positive',
 'Love, Life, Lonely',
 'Love, Inspirational, Friendship',
 'Inspirational, Change, Inspiring',
 'Inspirational, Motivational, Positive',
 'Motivational, Happiness, Letting Go',
 'Inspirational, Motivational, Positive',
 'Encouraging, Basketball, Uplifting',
 'Inspirational, Positive, Wisdom',
 'Inspirational, Motivational, Positive',
 'Love, Wisdom, Inspiration',
 'Inspirational, Relationship, Inspiring',
 'Education, Perseverance, Giving Up',
 'Inspirational, Motivational, Positive',
 'Love, Inspirational, Inspiring',
 'Inspirational, Dream, Children',
 'Inspirational, Music, Spiritual',
 'Leadership, Business, Motivation',
 'Inspirational, Success, Leadership',
 'Love, Life, God',
 'Inspirational, Change, Positive',
 'Baseball, Motivational Sports, Games',
 'Motivational, Graduation, Dream',
 'Hate, Real, Winning',
 'Inspiring, Beautiful, Hair',
 'Business, Light, Politics',
 'Inspirational, Motivational, Positive',
 'Inspirational, Motivational, Positive',
 'Inspiring, Inspiration, Healing',
 'Love, Family, Marriage',
 'Inspirational, Life, Change',
 'Inspirational, Positive, Faith',
 'Positive, Fashion, Hair',
 'Carpe Diem, Boys, Dead Poets Society',
 'Positive, Strength, Success',
 'Inspirational, Positive, Meaningful',
 'Inspirational, Happy, Wise',
 'Happiness, Christmas, Sarcastic',
 'Mothers Day, Mom, Mother Daughter',
 'Success, Stress, Congratulations',
 'Motivational, Positive, Work',
 'Nice, Fighting, Cash Flow',
 'Inspirational, Life, Motivational',
 'Inspirational, Motivational, Positive',
 'Music, Dream, Teacher',
 'Inspirational, Motivational, Leadership',
 'Love, Inspirational, Funny',
 'Money, Worry, World',
 'Inspirational, Motivational, Positive',
 'Memories, Remember, Second Place',
 'Inspirational, Motivational, Positive',
 'Country, Military, War',
 'Motivational, Success, Education',
 'Inspirational, Positive, Smile',
 'Inspirational, Change, Inspiring',
 'Inspirational, Happiness, Happy',
 'Inspirational, Positive, Dream',
 'Happiness, Success, Being Happy',
 'Inspirational, Life, Motivational',
 'Good Luck, Lucky, Way',
 'Inspirational, Life, Karma',
 'Inspirational, Birthday, Happiness',
 'Life, Humble, Positivity',
 'Love, Inspirational, Friendship',
 'Love, Inspirational, Life',
 'Softball, Sports, Athlete',
 'Inspirational, Motivational, Positive',
 'Inspirational, Positive, Happiness',
 'Love, Inspirational, Life',
 'Inspirational, Motivational, Positive',
 'Christian, Travel, Home',
 'Inspirational, Motivational, Success',
 'Veterans Day, Freedom, Military',
 'Inspirational, Life, Inspiring',
 'Relationship, Night, Just Friends',
 'Inspirational, Motivational, Positive',
 'Life, Motivational, Positive',
 'Country, New York, Military',
 'Inspirational, Inspiring, Perseverance',
 'Life, Business, Simple',
 'Inspirational, Motivational, Positive',
 'Inspirational, Life, Motivational',
 'Inspiring, Strong Women, History',
 'Inspirational, Happiness, Graduation',
 'Motivational, Failure, Inspiration',
 'Motivational, Get Well, Believe',
 'Inspirational, Life, Motivational',
 'Inspirational, Positive, Happiness',
 'Business, Government, Political',
 'Inspirational, Change, Inspiring',
 'Inspirational, Motivational, Success',
 'Inspirational, Life, Happiness',
 'Inspirational, Life, Motivational',
 'Change, Decision, Cybernetics',
 'Inspirational, Motivational, Business',
 'Inspirational, Life, Motivational',
 'Inspirational, Motivational, Success',
 'Inspirational, Positive, Happiness',
 'Inspirational, Motivational, Positive',
 'Motivational, Moving On, Success',
 'Inspirational, Strength, Strong',
 'Funny, Thanksgiving, Holiday',
 'Hate, Lying, Media',
 'Fashion, Eyebrows, Icons',
 'Inspirational, Life, Positive',
 'Leadership, God, Wisdom',
 'Happiness, Success, Happy',
 'Inspirational, Positive, Success',
 'Christmas, Holiday, Giving',
 'Inspirational, Motivational, Powerful',
 'Courage, War, Patriotic',
 'Inspirational, Positive, Courage',
 'Positive, Inspiring, Success',
 'Change, Uplifting, Spiritual',
 'Inspirational, Friendship, Positive',
 'Life, Motivational, Inspiring',
 'Inspirational, Change, Attitude',
 'Inspirational, Sports, Football',
 'Life, Happiness, Happy',
 'Inspirational, Encouraging, Sports',
 'Motivational, Strength, Moving On',
 'Positive, Happiness, Being Happy',
 'Motivational, Past, Insightful',
 'Success, Moving On, Letting Go',
 'Break Up, Letting Go, Breakup',
 'Inspirational, Wise, Travel',
 'Love, Inspirational, Funny',
 'Inspirational, Motivational, Success',
 'Trust, Encouraging, Hope',
 'Spiritual, Jobs, Work',
 'Life, Encouraging, Being Strong',
 'Inspirational, Motivational, Sports',
 'Inspiring, Teacher, Teaching',
 'Men, Justice, Overcoming',
 'Success, Congratulations, Failure',
 'Inspirational, Life, Change',
 'Inspirational, Leadership, Encouraging',
 'Motivational, Leadership, People',
 'Inspirational, Motivational, Success',
 'Inspirational, Success, Encouraging',
 'Inspirational, Funny, Motivational',
 'Inspirational, Life, Inspiring',
 'Music, Boys, Poison',
 'Football, Motivation, Passion',
 'Motivational, Change, Stay Strong',
 'Inspirational, Life, 4th Of July',
 'Inspirational, Motivational, Positive',
 'Life, Positive, Wisdom',
 'Motivational, Success, Attitude',
 'Inspirational, Leadership, Basketball',
 'Inspirational, Motivational, Success',
 'Inspirational, Loyalty, Money',
 'Inspirational, Life, Motivational',
 'Love, Friendship, Forgiveness',
 'Courage, Adversity, Ordinary Extraordinary',
 'Inspirational, Life, Motivational',
 'Determination, Power, Trying',
 'Inspirational, Positive, Success',
 'Inspirational, Relationship, Peace',
 'Inspirational, Success, Motivational Sports',
 'Inspirational, Life, Motivational',
 'Inspirational, Motivational, Strength',
 'Military, Marine, Winning',
 'Inspirational, Witty, Truth',
 'Love, Positive, Marriage',
 'Inspirational, Motivational, Determination',
 'Love, Happiness, Smile',
 'Love, Life, Trust',
 'Inspirational, Motivational, Success',
 'Life, Graduation, Wise',
 'Inspirational, Being Yourself, Clever',
 'Country, War, Mean',
 'Determination, Military, War',
 'Inspirational, Funny, Motivational',
 'Inspirational, Change, Uplifting',
 'Leadership, Military, Bad Ass',
 '4th Of July, America, Liberty',
 'Funny, Life, Leadership',
 'Inspirational, Life, Positive',
 'Military, Marine, Rifles',
 'Inspirational, Life, Change',
 'Inspirational, Motivational, Inspiring',
 'Morning, Business, Work',
 'Play, Easy, Feels',
 'Inspirational, Motivational, Success',
 'Christian, Religious, Prayer',
 'Positive, Success, Fall',
 'Graduation, Education, Wall',
 'Military, Army, Navy',
 'Inspirational, Motivational, Success',
 'Inspirational, Funny, Life',
 'Inspirational, Motivational, Love Is',
 'Inspirational, Confidence, Wisdom',
 'Inspirational, Life, Positive',
 'Inspiring, Courage, Veterans Day',
 'Inspirational, Funny, Motivational',
 'Love, Inspirational, Motivational',
 'Inspirational, Motivational, Leadership',
 'Kings, Stars, Hate',
 'Inspirational, Life, Motivational',
 'Inspirational, Leadership, Insperational',
 'Life, Motivational, Change',
 'Friendship, Change, Philosophy',
 'Funny, Motivational, Positive Thinking',
 'Inspirational, Motivational, Education',
 'Inspirational, Motivational, Kindness',
 'Inspirational, Motivational, Positive',
 'Country, Veterans Day, Brother',
 'Inspirational, Life, Success',
 'Inspirational, Life, Motivational',
 'Inspirational, Strong Women, Empowering',
 'Trust, Travel, Truth',
 'Inspirational, Friendship, Relationship',
 'Inspirational, Wise, Wisdom',
 'Inspirational, Life, Motivational',
 'Letting Go, Spiritual, Courage',
 'Motivational, Positive, Gratitude',
 'Powerful, Hate, Son',
 'Love, Positive, Happiness',
 'Inspirational, Life, Positive',
 'Inspirational, Life, Friendship',
 'Happiness, Happy, Being Happy',
 'Wise, Wisdom, Stupid',
 'Inspirational, Life, Education',
 'Courage, Men, Perfect',
 'Nature, Educational, Humorous',
 'Inspirational, Inspiring, Courage',
 'Inspirational, Motivational, Success',
 'Inspirational, Money, Time',
 'Happiness, Witty, Money',
 'Inspirational, Life, Wisdom',
 'Strong, Powerful, Past',
 'Inspirational, Motivational, Positive',
 'Inspirational, Life, Music',
 'Travel, Istanbul, Cities',
 'Memorial Day, Courage, Adventure',
 'Inspirational, Motivational, Change',
 'Inspirational, Attitude, Yoga',
 'Inspirational, Motivational, Moving On',
 'Inspirational, Life, Believe',
 'Faith, God, Christian',
 'Change, Positive, Organization',
 'Inspirational, Life, Positive',
 'Love, Funny, Relationship',
 'Love, Life, Strength',
 'Inspirational, Life, Positive',
 'Running, Long, Joy',
 'Motivational, Success, Business',
 'Happiness, Success, Happy',
 'Inspirational, Life, Motivational',
 'Veterans Day, Memorial Day, Courage',
 'Life, New Year, Mother',
 'Inspirational, Life, Motivational',
 'Inspirational, Life, Motivational',
 'Inspirational, Life, Inspiring',
 'Depression, Spring, Science',
 'Inspirational, Life, Motivational',
 'Inspirational, Wisdom, Witty',
 'Inspiring, Education, Wisdom',
 'Time, Top Management, Want',
 'Love, Family, Wise',
 'Inspirational, Education, Knowledge',
 'Complaints, Caliphs, Invites',
 'Inspirational, Life, Inspiring',
 'Inspirational, Wisdom, Hands',
 'Inspirational, Life, Motivational',
 'Motivational, Spiritual, Work',
 'Justice, Overcoming, Fundamentals',
 'Inspirational, Strength, Being Strong',
 'Inspirational, Motivational, Dream',
 'Inspirational, Positive, Education',
 'Inspirational, Motivational, Positive',
 'Inspirational, Positive Thinking, Long',
 'Motivational, Positive, Faith',
 'Life, Relationship, Money',
 'Truth, Intelligent, Greatness',
 'Marriage, Mother, Children',
 'Funny, Mothers Day, Hilarious',
 'Inspirational, Motivational, Positive',
 'Motivational, Faith, Attitude',
 'Love, Happiness, Smile',
 'Life, Meaningful, Peace',
 'Inspirational, Positive, Cheer',
 'Courage, Thinking, People',
 'Change, Success, Running',
 'Inspirational, Positive, Leadership',
 'Love, Friendship, Change',
 'Life, Change, Goodbye',
 'Inspirational, Decisions You Make, Progress',
 'Life, God, Christian',
 'Life, Moving On, Wise',
 'Inspirational, Positive, Determination',
 'Motivational, Education, Freedom',
 'Inspirational, Volleyball, Football',
 'Inspirational, New Year, Time',
 'Forgiveness, Jealousy, Hater',
 'Inspirational, Motivational, Change',
 'Success, Congratulations, Teaching',
 'Inspirational, Life, Change',
 '4th Of July, Responsibility, Past',
 'Motivational, Positive, Death',
 'Inspirational, Being Yourself, Real',
 'Inspirational, Positive, Inspiring',
 'Men, Rights, Use',
 'Music, Food, Unrequited Love',
 'Love, Family, Marriage',
 'Inspirational, Positive, Inspiring',
 'Inspirational, Motivational, Strength',
 'Love, Funny, Change',
 'Positive, Confidence, Buddhist',
 'Inspirational, Appreciation, Motivation',
 'Children, Greatness, Organization',
 'Motivational, Change, Basketball',
 'Inspirational, Monday, Work',
 'Christian, Spiritual, Religion',
 'Inspirational, Spiritual, Growing Up',
 'Inspirational, Education, Learning',
 'Relationship, Mean, Long',
 'Inspirational, Being Yourself, Appreciation',
 'Inspirational, Funny, Sad',
 'Inspirational, Life, Motivational',
 'Motivational, Happiness, Happy',
 'Leadership, Character, Care',
 'Inspirational, Success, Teacher',
 'Inspirational, Inspiring, Dog',
 'Love, Life, Positive',
 'Life, Friendship, Best Friend',
 'Inspirational, Cute, Sad',
 'Life, Success, Wisdom',
 'Life, Change, Wise',
 'Inspirational, Positive, Courage',
 'Inspirational, Life, Beautiful',
 'Inspirational, Life, Change',
 'Dream, Giving, Permission',
 'Inspirational, Motivational, Courage',
 'Love, Inspirational, Relationship',
 'Inspirational, Motivational, Success',
 'Love, Inspirational, Family',
 'Inspirational, Motivational, Feminist',
 'Success, Baseball, Fear',
 'Inspirational, Funny, Life',
 'Inspirational, Learning, Ignorance',
 'Inspirational, Basketball, Sports',
 'Moving, Tyrants, World Government',
 'Life, Inspiring, Encouraging',
 'Inspirational, Life, Positive',
 'Inspirational, Motivational, Business',
 'Happiness, Summer, Christian',
 'Children, Nice, Self Esteem',
 'Inspirational, Life, Motivational',
 'Inspirational, Motivational, Positive',
 'Inspirational, Funny, Life',
 'Love, Inspirational, Life',
 'Life, Faith, Religious',
 'Positive, Success, Determination',
 'Motivational, Success, Dream',
 'Inspirational, Basketball, Peace',
 'Jobs, Women, Princess',
 'Inspirational, Change, Positive',
 'Cheer Up, Positive Attitude, Garden',
 "Motivation, Don't Give Up, Positivity",
 'Education, Learning, Community',
 'Change, Sympathy, Native American',
 'Inspirational, Motivational, Respect',
 'Inspirational, Life, Motivational',
 'Inspiring, Success, Life And Love',
 'Veterans Day, Time, Peace',
 'Funny, Gun, Want',
 'Inspirational, Positive, Inspiring',
 'Love, Inspirational, Life',
 'Inspirational, Life, Success',
 'Death, Spiritual, Courage',
 'Inspirational, Life, Motivational',
 'Inspirational, Motivational, Encouraging',
 'Inspiring, Boyfriend, Strong Women',
 'Inspirational, Life, Motivational',
 'Birthday, Strength, Inspiring',
 'Happiness, Thanksgiving, Thank You',
 'Inspirational, Inspiring, Leadership',

In [192]:
#creating datasets
azquotes=pd.DataFrame({"Author":Author,
                      "Type Of Quote":Type_Of_Quote,
                      "Quote":quotes})
#printing dataset
azquotes

,Author,Type Of Quote,Quote
0,Michael Porter,"Essence, Deep Thought, Transcendentalism",The essence of strategy is choosing what not t...
1,Golda Meir,"Inspiration, Past, Trying",One cannot and must not try to erase the past ...
2,Theodore Roosevelt,"Country, Peace, War",Patriotism means to stand by the country. It d...
3,Nelson Mandela,"Inspirational, Motivational, Death",Death is something inevitable. When a man has ...
4,Erma Bombeck,"4th Of July, Food, Patriotic",You have to love a nation that celebrates its ...
...,...,...,...
995,Sydney J. Harris,"Love, Inspirational, Motivational",Regret for the things we did can be tempered b...
996,Hunter S. Thompson,"Gun, Two, Qualms About",America... just a nation of two hundred millio...
997,Jim Rohn,"Inspirational, Greatness, Best Effort",For every disciplined effort there is a multip...
998,Ram Dass,"Spiritual, Truth, Yoga","The spiritual journey is individual, highly pe..."
999,Eleanor Roosevelt,"Beauty, Beautiful, Truth","No matter how plain a woman may be, if truth a..."

Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.

This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/

2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.

In [193]:
#operating jagranjosh website
url="https://www.jagranjosh.com/"
driver.get(url)

In [194]:
#clicking on gk using xpath 
gk_search=driver.find_element(By.XPATH,'//*[@id="1540978020504"]/div[1]/header/div[3]/ul/li[9]')
gk_search.click()

In [195]:
#clicking on prime ministers list using xpath 
prime_ministers_list=driver.find_element(By.XPATH,'//*[@id="popluarGK"]/ul/li[2]/a')
prime_ministers_list.click()

In [196]:
#scraping Name
name=[]
for i in driver.find_elements(By.XPATH,'//tbody[1]/tr/td[2]'):
    name.append(i.text)

In [197]:
name=name[0:18]

In [198]:
#scraping Born-Dead
Born_Dead=[]
for i in driver.find_elements(By.XPATH,'//tbody[1]/tr/td[3]'):
    Born_Dead.append(i.text)

In [199]:
len(Born_Dead)

18

In [200]:
#scraping Term of office
Term_of_office=[]
for i in driver.find_elements(By.XPATH,'//tbody[1]/tr/td[4]'):
    Term_of_office.append(i.text.replace("\n","                "))

In [201]:
#scraping Remarks
Remarks=[]
for i in driver.find_elements(By.XPATH,'//tbody[1]/tr/td[5]'):
    Remarks.append(i.text)

In [202]:
#creating datasets
List_of_Prime_ministers=pd.DataFrame({"Name":name,
                                     "Born-Dead":Born_Dead,
                                     "Term-of-office":Term_of_office,
                                     "Remarks":Remarks})

#printing dataset
List_of_Prime_ministers

,Name,Born-Dead,Term-of-office,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964 1...,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964, 13 ...",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966 ...,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966 ...,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977 ...,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979 ...,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980 ...,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984 ...,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989 ...,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990 ...,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991 ...,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996 4 y...,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996 16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997 32...,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 ...,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004 6...,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014 1...,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

Q11: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model 
name and Price) from https://www.motor1.com/
This task will be done in following steps:
    
1. First get the webpage https://www.motor1.com/
    
2. Then You have to click on the List option from Dropdown menu on left side.
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make th

In [203]:
#operating amazon website
url="https://www.motor1.com/"
driver.get(url)

In [205]:
#click on list_option
clicking_list_option=driver.find_element(By.XPATH,'//*[@id="page_index_index_index"]/div[2]/div/div/div[1]/div/span[2]')
clicking_list_option.click()

In [209]:

#click on list 
clicking_list=driver.find_element(By.XPATH,'//li[@class="m1-navigation-main__animated-block left show"]/a')
clicking_list.click()

In [210]:

#click on 50 most expensive cars in the world..
car_list=driver.find_element(By.XPATH,'//div[@class="text-box"]/a' )
car_list.click()

In [211]:

#scraping Model name
Model_name=[]
for i in driver.find_elements(By.XPATH,'//h3[@class="subheader"]'):
    Model_name.append(i.text)

In [212]:
len(Model_name)

51

In [213]:
Model_name=Model_name[0:-1]

In [214]:
Model_name

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [215]:
#scraping Price
Model_name=[]
for i in driver.find_elements(By.XPATH,'//section[@class="trinity-skip-it"]'):
    Model_name.append(i.text)

In [216]:
Model=driver.find_element(By.XPATH,'//section[@class="trinity-skip-it"]')
Model.text

''